<div class="content">
    <h1><%= @discussion.title %></h1>
    <h4>Forum: <%= link_to @discussion.forum.forum_name, @discussion.forum %></h4>

    <h5>by <%= link_to @discussion.user.username, @discussion.user %></h5>
    <%= @discussion.created_at.strftime("%A, %B %e, %Y") %> 
    <p class="discussion"><%= @discussion.content %></p>

    <% if discussion_author(@discussion) || has_role?(:admin) || has_role?(:moderator) %>
        <div>
          <%= link_to " Edit", edit_discussion_path(@discussion), class: 'btn btn-secondary far fa-edit' %> |
          <%= link_to " Delete", discussion_path(@discussion), method: :delete, data: { confirm: "Are you sure you want to delete this discussion?" }, class: 'btn btn-danger far fa-trash-alt' %>
        </div>
    <% end %>
    <br>
    
    <hr>

    <hr>

    <h5>This discussion has <%= @discussion.comments.count %> <%= link_to "comments", discussion_comments_path(@discussion) %></h5>
   
</div>
