<h1>Leave a Comment</h1>

<%= simple_form_for @discussion.comments.build do |f| %>
  <%= f.hidden_field :discussion_id %>
  <%= f.hidden_field :user_id %>
  
  <div>
    <%= f.input :content, input_html: { class: 'textarea' }, label_html: { class: 'label' } %>
  </div>


<%= f.button :submit, 'Submit', class:'btn btn-info' %>

<% end %>